
nav {
    background: url(./pictures/bg1.png);
    background-attachment: ;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vw;
}

ul a {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-top: 35px;
}

ul a:hover {
    color: red;
    background-color: white;
}

.beginning {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    margin-top: 100px;
}

header {
    background: url(./pictures/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20vw;
    width: 100%;
    margin-top: 270px;
}

.about {
    background-color: #D90429;
    margin-top: -152px;
}

.about h2 {
    padding: 25vw;
    color: #fff;
    font-weight: bold;
}

.icon {
    background-color: #ffff;
}