html {
    scroll-behavior: smooth;
}
/* BACKGROUND */
body {
    background: url(/pictures/kaffikopp.jpg) no-repeat center fixed;
    background-size: cover;
}

/* CONTENT */

.content {
    width: 100%;
    height: 100%;
    padding: 240px 0;
}

.content h1 {
    font-weight: bold;
    font-size: 64px;
}


/* NAV */

i {
    color: #fff;
}

ul a {
    transition: 0.4s;
    color: #ffff;
    font-family: 'Noto Sans', 'open sans';
}

ul li a {
    font-size: 18px;
}

ul a:hover {
    color: black;
    background-color: white;
}

/* CAROUSEL */

.car-button {
    color: black;
}

@media only screen and (max-width: 785px) {

    ul a,
    h1,
    h2 {
        font-size: 24px;
    }
}

/* Contact */

.form-write {
    width: 45vw;
    border: gray 1px solid;
}

.form-write:hover {
    border-color: red;
}

.awesomeicons {
    font-size: 30px;
}

.icons {
    transition: 0.4s;
    color: black;
}


.icons:hover {
    color: red;
    font-size: 34px;
}