body {
    background: url(/pictures/kaffikopp.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav {
    background-color: #000;
    border-bottom: 1px #fff solid;
}

i {
    color: white;
}

ul a {
    transition: 0.4s;
    color: #ffff;
}

ul a:hover {
    color: black;
    background-color: white;
}

